Patched
build
build/*
/GAMECORE/Decompilation/SectionMeta
/GAMECORE/Decompilation/SectionMeta/*
/GAMECORE/Decompilation/src/auto_generated
/GAMECORE/Decompilation/src/auto_generated/*
/GAMECORE/Decompilation/build
/GAMECORE/Decompilation/build/*
/GAMECORE/Disassembly
/GAMECORE/Disassembly/*
/MainElf/Decompilation/SectionMeta
/MainElf/Decompilation/SectionMeta/*
/MainElf/Decompilation/src/auto_generated
/MainElf/Decompilation/src/auto_generated/*
/MainElf/Decompilation/build
/MainElf/Decompilation/build/*
/MainElf/Disassembly
/MainElf/Disassembly/*
/MANAGER/Decompilation/SectionMeta
/MANAGER/Decompilation/SectionMeta/*
/MANAGER/Decompilation/src/auto_generated
/MANAGER/Decompilation/src/auto_generated/*
/MANAGER/Decompilation/build
/MANAGER/Decompilation/build/*
/MANAGER/Disassembly
/MANAGER/Disassembly/*
/KERNEL/Decompilation/SectionMeta
/KERNEL/Decompilation/SectionMeta/*
/KERNEL/Decompilation/src/auto_generated
/KERNEL/Decompilation/src/auto_generated/*
/KERNEL/Decompilation/build
/KERNEL/Decompilation/build/*
/KERNEL/Disassembly
/KERNEL/Disassembly/*